[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
wheel = "*"
twine = "*"
coverage = "*"
codecov = "*"
autopep8 = "*"

[packages]
colorful = "*"
requests = "*"
pyyaml = "==5.3.1"
aiofiles = "*"
aiohttp = "*"
pystache = "*"
evdev = "==1.3.0"
click = "*"
jsonschema = "*"
#typing-extensions = "*"

[requires]
python_version = "3.9"

[scripts]
twokeys = "python -m twokeys"
test = "unittest discover -s ./tests -p test*.py"
test_coverage = "coverage run --source twokeys -m unittest discover -s ./tests -p test*.py"
