# Service template for 2Keys
[Unit]
Description=2Keys service for {{ name }}
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/local/bin/2Keys watch {{ keyboard }} 
Environment=PYTHONPATH={{ detector_path }}:/usr/local/lib/python{{ version }}/dist-packages:/home/pi/.local/lib/python{{ version }}/site-packages
WorkingDirectory={{ pwd }}

[Install]
WantedBy=multi-user.target